.invitation-link { padding: 1rem; background-color: #EEE; border: 1px solid #CCC; border-radius: 0.5rem; max-width: 40rem } 
.invitation-link input { background-color: #EEE; border: none; color: #000; width: 100%; font-size: 1.2rem; font-weight: normal }
@media (max-width: 1024px) {
  .invitation-link input { max-width: 100% }
}
